@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f6f6;
    font-family: "Open-sans","Roboto",sans-serif;
    font-size: 16px;
    text-align: center;
}


.navbar{
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.navbar li,a,button{
    
    color: #f6f6f6;
    text-decoration: none;
}
.logo{
    z-index: 2;
    cursor: pointer;
    margin-right: auto;
}
.logo img{
    height: 25px;
}

li{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
}
.nav-links li a{
    position: relative;
}
.nav-links li a::before {
    content: '';
    background: #f6f6f6;
    position:absolute;
    width: 0%;
    top: calc(100% + 3px);
    /* left: 0; */
    height: 1px;
    transition: 0.2s ease-in;
    z-index: -1;
}
.nav-links li a:hover::before {
    width: 100%;
}

.cta::before{
    display: none;
}

.cta{
    position:relative;
    /* margin-left: 20px; */
    border-radius: 2px;
    border: 1px solid #f6f6f6;
    border-radius: 2px;
    color: #f6f6f6;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: all 0.2s ease-in 0s;
}
.cta:hover{
    color: #2599ae;
}
.cta:after {
    content: '';
    background: #f6f6f6;
    position:absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.2s ease-in;
    z-index: -1;
}
.cta:hover:after {
width: 100%;
}
.hamburger{
    display: none;
}


/* ************************* FOOTER ************************** */

footer{
    text-align: center;
    width: 100%;
    /* height: 50vh; */
    background: linear-gradient(90deg,#330867,#31a7bb);
    position: relative;
    color: #f6f6f6;
    font-weight: 100;
    font-size: 14px;
}

footer::after{
    content: "";
    background: linear-gradient(90deg,#330867,#31a7bb);
    box-shadow: 0 0 50px rgb(60 117 162 / 40%);
    width: 100%;
    height: 20vh;
    position: absolute;
    top: -10vh;
    left: 0%;
    z-index: -1;
    transform: skewY(-5deg);
}
footer .logo{
    height: 55px;
}

.footer-links{
    width: 80%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}
.footer-links ul{
    text-align: left;
    padding: 0 60px;
}
.footer-links ul li{
    padding: 10px;
}
.icons{
    flex: 1;
    text-align: center;
    margin: 30px auto;
}
.icons a{
    margin: auto 20px auto 20px;
    position: relative;
}
.icon{
    width: 30px;
}
.icons a::before {
    content: '';
    background: #f6f6f6;
    position:absolute;
    width: 0%;
    top: calc(100% + 3px);
    height: 1px;
    transition: 0.2s ease-in;
}
.icons a:hover::before {
    width: 100%;
}
footer p{
    letter-spacing: 2px;
    font-size: 12px;
    padding: 30px 10% 60px 10%;
    margin: 0 auto;
}

@media screen and (max-width: 768px){

    /* ***************** HAMBURGER *********************** */
    .hamburger{
        position: absolute;    
        /* left: 0%; */
        z-index: 2;
        cursor: pointer;
        text-align: left;
        display: unset;
        -webkit-tap-highlight-color: transparent;
    }
    .line1{
        width:27px;
        height:3px;
        background-color: #f6f6f6;
        border-right: 3px solid #f6f6f6;
        border-radius: 3px;
        margin: 5px;
        transition: all 0.5s ease 0.4s;
    }
    .line2{
        width:11px;
        height:3px;
        background-color: #f6f6f6;
        border-right: 3px solid #f6f6f6;
        border-radius: 3px;
        margin: 5px;
        transition: all 0.5s ease;
    }
    .line3{
        width:18px;
        height:3px;
        border-right: 3px solid #f6f6f6;
        border-radius: 3px;
        background-color: #f6f6f6;
        margin: 5px;
        transition: all 0.5s ease 0.2s;
    }
    .line1.close{
        border-left: 3px solid #f6f6f6;
        transform: translate(0px,8px) rotate(45deg);
    }
    .line2.close{
        border: none;
        width: 0%;
    }
    .line3.close{
        border-left: 3px solid #f6f6f6;
        transform: translate(0px,-8px) rotate(-45deg);
        width:27px;
    }


    /* ***************** NAV *********************** */
    .navbar{
        position: fixed;
    }

    .nav{
        display: none;
    }
    
    .nav.open{
        position:fixed;
        z-index: 1;
        top: 0%;
        left: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        overflow:hidden;
        background: linear-gradient(135deg,#330867e3,#31a6bbec);
    /* background-color: #31a6bbe5; */
    }
    .nav-links.open{
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 10%;
        /* left: 0%; */
        display: flex;
        flex-direction: column;
    }
    .nav-links li{
        margin: 7vh auto;
    }

    

    /* ***************** FOOTER *********************** */
    .footer-links ul{
        text-align: left;
        padding: 0 10%;
    }
    .icons a{
        margin: auto 5x auto 5px;
        position: relative;
    }
}