
/* ************************* HEADER SECTION ************************** */
.header_section{
    margin-top: -10vh;
    width: 100%;
    background: linear-gradient(150deg,#330867,#31a7bb);
    transform: skewY(-5deg);
    box-shadow: 0 0 50px rgb(60 117 162 / 40%);
    padding-bottom: 100px;
}
header{
    padding-top: 20vh;
    transform: skewY(5deg);
    color: #f6f6f6;
    text-align: center;
}
.header_content{
    margin-top: 50px;
}
.header_content h1{
    
    font-size: 20px;
    font-weight: normal;
}
.graphic{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.graphic img{
    width: 50%;
}
.header_content .cta{
    padding: 0.5em 3em;
}

/* ************************* INTRO ************************** */

.intro_section{
    /* margin-top: 10vh; */
    text-align: center;
    width: 80%;
    margin: auto;
    /* transform: skewY(5deg); */
}
.intro_section h2{
    font-weight:300;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 100px 0 60px 0;
}
.intro_section h3{
    font-weight:200;
    font-size: 23px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.summary{
    max-width: 500px;
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
}
.intro{
    /* background-color: #330867; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
}
.alt{
    flex-direction: row-reverse;
}
.intro-info{
    flex: 2;
    text-align: left;
    margin: auto;
    /* background-color: #330867; */
}
.intro-info h3{
    font-weight:300;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.intro-info p{
    font-weight:100;
    margin: auto;
}
.info-graphic{
    flex: 3;
}
.intro img{
    width: 70%;
}

/* ************************* HOW-TO ************************** */

.how-section{
    width: 100%;
    background: linear-gradient(150deg,#330867,#31a7bb);
    transform: skewY(-5deg);
    box-shadow: 0 0 50px rgb(60 117 162 / 40%);
    position: relative;
    color: #f6f6f6;
}
.how-section article{
    padding: 100px 0;
    transform: skewY(5deg);
}
.how-section h2{
    font-weight:200;
    font-size: 40px;
    letter-spacing: 4px;
}
.how-section .content{
    width: 650px;
    margin: 0 auto;
}
.how-section .cta{
    padding: 0.5em 3em;
}
/* ************************* SIGNUP ************************** */

.signup-now{
    width: 100%;
    /* height: 40vh; */
}
.signup-now h2{
    font-weight:200;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 100px 0 70px 0;
}
.tools{
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 100px;
}
.tools img{
    height: 60px;
}

/* ************************ demoPage **************************** */

.demo h1{
    font-weight:300;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 50px 0 60px 0;
}
.democards{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.card{
    color: black;
    width: 220px;
    height: 300px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    margin: 25px auto;
    transition: all 0.5s ease;
}

.card:hover{
    transform: scale(110%);
    background-color: black;
    color: #f6f6f6;
}
.card-img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card h3{
    font-weight:100;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 30px;
}
.card p{
    text-align: left;
    margin: 10px;
}

/* ************************ PROFILE PAGE **************************** */
/* ************************ Plus button **************************** */
.create-pinboard{
    position: fixed;
    z-index: 1;
    cursor: pointer;
    right: 3%;
    bottom: 3%;
    -webkit-tap-highlight-color: transparent;
}

.plus-cont{
    position: absolute;
    z-index: 1;
    right: 0%;
    bottom: 0%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f6f6f6;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    text-align: center;
    display: flex;
    opacity: 0;
    transition: all 0.5s ease;
}

.plus{
    transform: rotateZ(-45deg);
    width: 25px;
    height: 25px;
    content: '';
    margin: auto;
    background: linear-gradient(150deg,#330867,#31a7bb);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transition: all 0.5s ease;
}
.plus-cont.fade{
    opacity: 1;
    z-index: 1;
}

.plus-cont.open{
    transform: rotateZ(225deg);
}

.create_list{
    position: absolute;
    bottom: 125px;
    right: 0px;
    background-color: #f6f6f6;
    min-width: 160px;
    bottom: 50px;
    z-index: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    display: none;
}
.create_list::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 83%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f6f6f6 transparent transparent transparent;
}
.create_list a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.create_list a:hover {background-color: #ccc}
.create_list.open{
    display: block;
}
/* ************************ PROFILE PAGE **************************** */

.profile-head{
    font-weight:300;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 50px 0 60px 0;
}
.profile{
    margin: 0px auto 0 auto;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    max-width: 1200px;
}

.profile-card,.info-card{
    color: black;
    width: 80%;
    min-width: 270px;
    max-width: 400px;
    flex: 1;
    height: 300px;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 25px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
}
.profile_pic{
    flex: 1;
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.profile_info{
    flex: 1;
    text-align: left;
}
.actions {
    /* text-align: left; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.actions a img {
    margin: 0 20px;
    width: 30px;
    border: none;
}

.actions a {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    transition:.2s;
}
.actions a:hover{
    opacity: 0.6;
}
/* ************************ PROFILE PAGE **************************** */
/* ************************ Pinboards section **************************** */
.pinboards-section{
    width: 100%;
    /* height: 40vh; */
    margin-bottom: 100px;
}
.pinboards-section h2{
    font-weight:200;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 40px 0 70px 0;
}

@media screen and (max-width: 768px){

    .header_content h1{
        font-size: 16px;
        font-weight: normal;
        padding: 0 5%;
    }
    .intro{
        flex-direction: column-reverse;
    }
    .intro-info{
        text-align: center;
    }
    .signup-now .tools img{
        height: 20px
    }
    /* *************PROFILE PAGE*************** */
    .profile{
        width: 90%;
    }
    .profile-card,.info-card{

        margin: 25px 10px;

    }
}
