
/* ************************* HEADER SECTION ************************** */
.header_section{
    margin-top: -10vh;
    width: 100%;
    background: linear-gradient(150deg,#330867,#31a7bb);
    transform: skewY(-5deg);
    box-shadow: 0 0 50px rgb(60 117 162 / 40%);
    padding-bottom: 100px;
}
header{
    padding-top: 20vh;
    transform: skewY(5deg);
    color: #f6f6f6;
    text-align: center;
}
.header_content{
    margin-top: 50px;
}
.header_content h1{
    
    font-size: 20px;
    font-weight: normal;
}
.graphic{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.graphic img{
    width: 50%;
}
.header_content .cta{
    padding: 0.5em 3em;
}

/* ************************* INTRO ************************** */

.intro_section{
    /* margin-top: 10vh; */
    text-align: center;
    width: 80%;
    margin: auto;
    /* transform: skewY(5deg); */
}
.intro_section h2{
    font-weight:300;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 100px 0 60px 0;
}
.intro_section h3{
    font-weight:200;
    font-size: 23px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.summary{
    max-width: 500px;
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
}
.intro{
    /* background-color: #330867; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
}
.alt{
    flex-direction: row-reverse;
}
.intro-info{
    flex: 2;
    text-align: left;
    margin: auto;
    /* background-color: #330867; */
}
.intro-info h3{
    font-weight:300;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.intro-info p{
    font-weight:100;
    margin: auto;
}
.info-graphic{
    flex: 3;
}
.intro img{
    width: 70%;
}

/* ************************* HOW-TO ************************** */

.how-section{
    width: 100%;
    background: linear-gradient(150deg,#330867,#31a7bb);
    transform: skewY(-5deg);
    box-shadow: 0 0 50px rgb(60 117 162 / 40%);
    position: relative;
    color: #f6f6f6;
}
.how-section article{
    padding: 100px 0;
    transform: skewY(5deg);
}
.how-section h2{
    font-weight:200;
    font-size: 40px;
    letter-spacing: 4px;
}
.how-section .content{
    width: 650px;
    margin: 0 auto;
}
.how-section .cta{
    padding: 0.5em 3em;
}
/* ************************* SIGNUP ************************** */

.signup-now{
    width: 100%;
    /* height: 40vh; */
}
.signup-now h2{
    font-weight:200;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 100px 0 70px 0;
}
.tools{
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 100px;
}
.tools img{
    height: 60px;
}

/* ************************ demoPage **************************** */

.demo h1{
    font-weight:300;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 50px 0 60px 0;
}
.democards{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.card{
    color: black;
    width: 220px;
    height: 300px;
    /* border: 2px solid #f6f6f6; */
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 25px;
    transition: all 0.5s ease;
}

.card:hover{
    transform: scale(110%);
    background-color: black;
    color: #f6f6f6;
}
.card-img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card h3{
    font-weight:100;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 30px;
}
.card p{
    text-align: left;
    margin: 10px;
}
@media screen and (max-width: 768px){

    .header_content h1{
        font-size: 16px;
        font-weight: normal;
        padding: 0 5%;
    }
    .intro{
        flex-direction: column-reverse;
    }
    .intro-info{
        text-align: center;
    }
    .signup-now .tools img{
        height: 20px
    }
    /* *************Demo*************** */

}